img {
    display: inline-block;
    height: 200px;
    width: auto;
}

#desc {
    height: 300px;
    width: 500px;
    margin-left: 106px;
    border: black 2px solid;
    padding: 20px;
}

.center {
    text-align: center;
}

#banner {
    width: 725px;
    height: 480px;
}